<!-- <div class = "col-xs-4">
  <div class = "panel panel-default">
    <div class="panel-body">
       <li>{{business.catName}}</li>
    </div>
  </div>
</div> -->


<li> {{#link-to 'business' business.id}} {{business.catName}}{{/link-to}}

</li>


{{yield}}
