<div class="container-fluid">
  <div class="navbar-brand">{{#link-to 'index'}}Epinions{{/link-to}}</div>
</div>


<div class="links">
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'contact'}} Contact us.{{/link-to}}
</div>



{{outlet}}
