
<div class ="container">
    <br>
    <br>
    {{new-business save="save"}}
    <br>
    <br>
  <div class ="list-group">
    <a>
      {{#each model as |business|}}
        {{business-tile business=business destroyBusiness="destroyBusiness" save="save"}}
      {{/each}}
    </a>
  </div>

</div>
  {{outlet}}
